@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* For loading spinner */
.spinner-container {
  height: 350px;
}

/* For mute button */
.music-spinner {
  animation: spinner 5s linear infinite;
}
